thumbnailHeader {
    color: aliceblue
}

img {
    width: 44px; /* you can use % */
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right{
    width:45px;
}


.trip-date{
    font-size: 10pt;
    font-weight:bold;
    padding:0;
    margin:0;
    background-color:mistyrose;
}

.trip-container {
    padding: 0;
    margin: 10px;
}

.trip-header {
    font-size: 12pt;
    font-weight: bold;
    background-color: mistyrose;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}