thumbnailHeader {
    color: aliceblue
}

img {
    width: 45px;
    height: auto;
    padding-top:1px;
    padding-bottom:1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right {
    float:right;
}

.left {
    float: left;
    text-align: left;
    padding-left:3px;
}

.trip-date {
    font-size: 10pt;
    font-weight: bold;
    padding: 0;
    margin: 0;
    background-color: #00bcd4;
    color: white;
}

.trip-container {
    padding: 0;
    margin: 15px;
}

.trip-header {
    padding:2px;
    font-size: 12pt;
    font-weight: bold;
    background-color: #00bcd4;
    color:white;
}

.trip-body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

