<div class="row" style="margin: 0px;">
    <table class='table' *ngIf='countryTrip && countryTrip.length'>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Offical Name</th>
                <th>A2</th>
                <th>A3</th>
                <th>Area</th>
                <th>RegionName</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let country of countryTrip'>
                <td>
                    <img src="assets/svgmaps/{{country.alpha3Code | lowercase }}.svg">
                </td>
                <td>{{country.name}}</td>
                <td>{{country.officialName}}</td>
                <td>{{country.alpha2Code}}</td>
                <td>{{country.alpha3Code}}</td>
                <td>{{country.area}}</td>
                <td>{{country.regionName}}</td>
                <td>{{country.areaLevelAssessment}}</td>

            </tr>
        </tbody>
    </table>
</div>