
<div>
    <h3>Trip Details</h3>
    <h3>{{trip.name}}</h3>
    <h3>{{trip.tripCode}}</h3>
    <h3>Stars: {{trip.starRating}}</h3>
</div>
<div>
    <dx-vector-map id="vector-map"
                   [bounds]="[-180, 85, 180, -60]"
                   (onClick)="click($event)">
        <dxo-tooltip [enabled]="true"
                     [customizeTooltip]="customizeTooltip">
            <dxo-font color="#fff"></dxo-font>
            <dxo-border [visible]="false"></dxo-border>
        </dxo-tooltip>
        <dxi-layer [dataSource]="worldMap"
                   [customize]="customizeLayers">
        </dxi-layer>
    </dx-vector-map>
</div>
<app-stops *ngIf='trip && trip.stops && trip.stops.length'
           [stops]="trip.stops">

</app-stops>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4MdOxiVD4M0" allowfullscreen></iframe>
</div>

