<mdb-accordion>
    <mdb-accordion-item [collapsed]="false">
        <mdb-accordion-item-head [customClass]="'blue-text'">1. Your Summary</mdb-accordion-item-head>
        <mdb-accordion-item-body></mdb-accordion-item-body>
    </mdb-accordion-item>
    
    <mdb-accordion-item [collapsed]="false">
        <mdb-accordion-item-head [customClass]="'blue-text'">2. Your Map</mdb-accordion-item-head>
        <mdb-accordion-item-body>
            <app-map-summary>

            </app-map-summary>
        </mdb-accordion-item-body>
    </mdb-accordion-item>
    
    <mdb-accordion-item>
        <mdb-accordion-item-head [customClass]="'blue-text'">3. Your Countries</mdb-accordion-item-head>
        <mdb-accordion-item-body>
            <app-countries-list *ngIf='countryTrip && countryTrip.length'
                                [countryTrip]="countryTrip">
            </app-countries-list>
        </mdb-accordion-item-body>
    </mdb-accordion-item>
    
    <mdb-accordion-item>
        <mdb-accordion-item-head [customClass]="'blue-text'">4. Your Friends</mdb-accordion-item-head>
        <mdb-accordion-item-body></mdb-accordion-item-body>
    </mdb-accordion-item>
</mdb-accordion>
