@section Scripts{
    <script src="~/Clientapp/dist/runtime.js"></script>
    <script src="~/Clientapp/dist/polyfills.js"></script>
    <script src="~/Clientapp/dist/styles.js"></script>
    <script src="~/Clientapp/dist/vendor.js"></script>
    <script src="~/Clientapp/dist/main.js"></script>
}
    <div class="cotainer">
        <app-root></app-root>
    </div>