<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <base href="~/">
    <script src="~/ClientApp/dist/assets/jquery.js"></script>
    <link href="~/ClientApp/dist/assets/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <script src="~/ClientApp/dist/assets/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="~/ClientApp/dist/assets/jquery-jvectormap-world-mill.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
@RenderSection("scripts", false)